<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Visualización de Datos
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div #container>
    <div class="dashboard-content">
      <!-- titulo primero -->
      <div class="seccion header">
        <h1>Dashboard</h1>
      </div>

      <!-- graficas en divs para usar una clase y aplicar inline-flex en el scss-->
      <div class="flex-container">
        <div class="seccion chart-container"><app-bar-chart [nombresCategorias]="categorias" [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart></div>
        <div class="seccion chart-container"><app-pie-chart></app-pie-chart></div>
        <div class="seccion chart-container"><app-line-chart></app-line-chart></div>
      </div>

      <div class="table-container">
        <h2 class="seccion">Table</h2>
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>

      <div class="seccion list-container">
        <h2>List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
    </div>
  </div>
