/* Estilos generales para el PDF */
* {
  color: black;
}

.dashboard-content {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  text-align: center;
  padding-top: 55px;
}

.header h1 {
  font-size: xx-large;
}

.list-container,
.table-container {
  padding-top: 55px;
  background-color: #fff;
  max-width: 100%;
  min-width: 200px;
}

.list-container h2,
.table-container h2{
  text-align: center;
  font-size: 20px;
}

.flex-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.chart-container {
  flex: 1;
  margin: 0 10px;
  size: 30px;
}

// @media screen and (max-width: 1049px) {
//   .flex-container {
//     flex-direction: column;
//   }

//   .chart-container {
//     flex: block;
//     margin: 10px 0;
//   }
// }
